<!DOCTYPE html>
<html>
<head>
    <title>Latest News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Top News Headlines</h1>
    <ul>
        {% for article in news %}
            <li>
                <a href="{{ article['url'] }}" target="_blank">
                    <strong>{{ article['title'] }}</strong>
                </a>
                <p>{{ article['description'] }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
